<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seventeen.blissappid" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main_activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nothafi1"
            android:label="@string/title_activity_nothafi1" >
        </activity>
        <activity
            android:name=".starfsmadur1"
            android:label="@string/title_activity_starfsmadur1" >
        </activity>
        <activity
            android:name=".Bua_til_toflu"
            android:label="@string/title_activity_bua_til_toflu" >
        </activity>
        <activity
            android:name=".Notkunarskra"
            android:label="@string/title_activity_notkunarskra" >
        </activity>
    </application>

</manifest>
